.locationContainer {
  width: 300px;
  margin: 0px auto;
  position: relative;
  margin: 20px auto;
  input {
    width: 96%;
    padding: 10px 3px;
    font-size: 18px;
  }
  ul {
    z-index: 1;
    background: white;
    list-style: none;
    text-align: left;
    padding-left: 0;
    position: absolute;
    width: 100%;
    li {
      margin: 2px 0;
      padding: 5px 0;
      border-bottom: 1px solid gray;
    }
  }
}
