.restContainer {
  .restDetail {
    position: relative;
    display: inline-block;
    margin: 0 15px 15px 0;
    img {
      width: 100%;
    }
    span {
      position: absolute;
      bottom: 3px;
      left: 0;
      width: 100%;
      text-align: center;
      background: #3e2b2b99;
      color: white;
      font-weight: bold;
      padding: 5px 0;
    }
  }
}
